@media (max-width:576px) {
    .cont {
        margin: 0px 10px !important;
    }
}

.active {
    color: red !important;
}

a {
    color: black !important;
}

.header {
    box-shadow: 0px 1px 5px lightgray;
}