@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.modelinfo {
    font-family: 'Cormorant Garamond', serif !important;
    position: absolute;
    top: 100px;
    left: 200px;
}

.model {
    position: relative;
}

.model .backg {
    background-image: url(../../Images/Alia.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
}

.model .absol {
    background-image: url(../../Images/pngegg.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 350px;
    /* filter: drop-shadow(1px 1px 30px black); */
    filter: drop-shadow(0px 2px 5px black);
}


@media (max-width:576px) {
    .model .absol {
        top: 354px;
        left: -25px;
        height: 242px;
        width: 250px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .model .modelinfo {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .model .modelinfo .para {
        width: 80% !important;
    }
}

@media (min-width:576px) {
    .model .absol {
        top: 354px;
        left: 290px;
        height: 242px;
        width: 250px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .model .modelinfo {
        position: absolute;
        top: 50px;
        left: 140px;
    }

    .model .modelinfo .para {
        width: 40% !important;
        text-align: justify;
    }
}

@media (min-width:768px) {
    .model .absol {
        top: 354px;
        left: 290px;
        height: 242px;
        width: 250px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .model .modelinfo {
        position: absolute;
        top: 50px;
        left: 160px;
    }

    .model .modelinfo .para {
        width: 40% !important;
    }
}

@media (min-width:992px) {
    .model .absol {
        top: 300px;
        left: 389px;
        height: 317px;
        width: 250px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (min-width:1200px) {
    .model .absol {
        left: 478px;
    }
}

@media (min-width:1400px) {
    .model .absol {
        left: 600px;
    }
}