@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.about-hero {
    font-family: 'Cormorant Garamond', serif !important;

}

.about-page {
    height: 600px;
    width: 100%;
    background-image: url(../../Images/aboutstore.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.about-page::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.285);
    position: absolute;
    z-index: -1;
}

.about-hero .about-words {
    position: absolute;
    top: 456px;
    left: 300px;
    color: white;
}


@media (max-width:576px) {
    .about-hero .about-words {
        top: 422px;
        left: 30px;
    }
}

@media (min-width:576px) {
    .about-hero .about-words {
        top: 422px;
        left: 30px;
    }
}

@media (min-width:778px) {
    .about-hero .about-words {
        top: 422px;
        left: 96px;
    }
}

@media (min-width:778px) {
    .about-hero .about-words {
        top: 456px;
        left: 300px;
    }
}